<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Education</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-education-create></app-education-create>
</ng-template>

<div class="container">
  <h4>Education</h4>
  <hr />
  <ul class="list-group">
    <li
      *ngFor="let education of educations"
      [class.list-group-item-secondary]="selectedEducation === education"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span>
        {{ education.title }}
      </span>
      <span>
        {{ education.type }}
      </span>
      <span class="education-date">{{
        education.timeStart | date: "longDate"
      }}</span>
      <span class="education-date">{{
        education.timeEnd | date: "longDate"
      }}</span>
      <span>
        {{ education.about }}
      </span>
      <a
        (click)="open(content)"
        class="btn btn-success"
        (click)="onSelect(education)"
        >Edit</a
      >
      <a (click)="onDelete(education)">X</a>
    </li>
  </ul>

  <button
    class="btn btn-lg btn-outline-primary"
    (click)="open(content)"
    (click)="onSelect()"
  >
    Add
  </button>
</div>
