<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Education</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-education-create></app-education-create>
  <!-- <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div> -->
</ng-template>

<div class="container">
  <h4>Education</h4>
  <hr />
  <ul class="list-group">
    <li
      *ngFor="let education of educations"
      [class.list-group-item-secondary]="selectedEducation === education"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <!-- <a (click)="onSelect(education)" href="#">{{ education.title }}</a> -->
      <span>
        {{ education.title }}
      </span>
      <span>
        {{ education.type }}
      </span>
      <span class="education-date">{{
        education.timeStart | date: "longDate"
      }}</span>
      <span class="education-date">{{
        education.timeEnd | date: "longDate"
      }}</span>
      <span>
        {{ education.about }}
      </span>
      <a
        (click)="open(content)"
        class="btn btn-success"
        (click)="onSelect(education)"
        >Edit</a
      >
      <a (click)="onDelete(education)">X</a>
    </li>
  </ul>
  <!-- <a
    routerLink="/education/create"
    (click)="onSelect()"
    class="btn btn-primary"
  >
    Add
  </a> -->
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    Add
  </button>
</div>
