<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Education</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-experience-create></app-experience-create>
</ng-template>

<div class="container">
  <h4>Experience</h4>
  <hr />
  <ul class="list-group">
    <li
      *ngFor="let job of jobs"
      [class.list-group-item-secondary]="selectedExperience === job"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span>
        {{ job.title }}
      </span>
      <span>
        {{ job.position }}
      </span>
      <span class="job-date">{{ job.timeStart | date: "longDate" }}</span>
      <span class="job-date">{{ job.timeEnd | date: "longDate" }}</span>
      <span>
        {{ job.tasks }}
      </span>
      <a (click)="open(content)" class="btn btn-success" (click)="onSelect(job)"
        >Edit</a
      >
      <a (click)="onDelete(job)">X</a>
    </li>
  </ul>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    Add
  </button>
</div>
