<div class="container" *ngIf="skills.length > 0">
  <h1>Skills</h1>
  <ul class="list-group list-group-flush" *ngFor="let skill of skills">
    <li class="list-group-item">
      {{ skill.title | uppercase }}
      <button type="button" class="btn btn-success">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </li>
  </ul>
</div>
<div class="container" *ngIf="skills.length <= 0">No Skills added</div>
<div class="container">
  <button (click)="goToSkillsCreate()" class="btn btn-primary">
    Add Skills
  </button>
</div>
