<div class="container" *ngIf="skills.length > 0">
  <app-skills-create></app-skills-create>
  <h4>Skills</h4>
  <ul class="list-group list-group-flush" *ngFor="let skill of skills">
    <li class="list-group-item">
      <span>
        {{ skill.title }}
      </span>
      <span>
        {{ skill.age }}
      </span>
      <button type="button" class="btn btn-success">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </li>
  </ul>
</div>
<div class="container" *ngIf="skills.length <= 0">No Skills added</div>
<div class="container">
  <button (click)="goToSkillsCreate()" class="btn btn-primary">
    Add Skills
  </button>
</div>
